@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Geist/Geist-Light.woff2) format('woff2');
}
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Geist/Geist-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Geist/Geist-Bold.woff2) format('woff2');
}